<div class="container" xmlns:http="http://www.w3.org/1999/xhtml">

    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">Department Total File</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{vm.totalfl}}</span>
                        Total File
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{vm.totalclrfl}}</span>
                        Total Cleared File
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{vm.totalpendfl}}</span>
                        Total Pending File
                    </li>
                </ul>

                <div style="width: 100%; height: 300px; overflow: auto;">
                    <iframe style="width: 100%; height: 2000px;" src="http://localhost:8080/#/notebook/2CJ7MS5ZP/paragraph/20170526-172050_8100971?asIframe" scrolling="no"></iframe>
                </div>

            </div>
        </div>
    </div>
</div>
