
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrganisationLabel" data-translate="eofficeApp.organisation.home.createOrEditLabel">Create or edit a Organisation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.organisation.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.organisation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.organisation.orgname" for="field_orgname">Orgname</label>
            <input type="text" class="form-control" name="orgname" id="field_orgname"
                    ng-model="vm.organisation.orgname"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.organisation.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.organisation.address"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.organisation.active" for="field_active">Active</label>
                <input type="checkbox" name="active" id="field_active"
                          ng-model="vm.organisation.active"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.organisation.createdate" for="field_createdate">Createdate</label>
                <div class="input-group">
                    <input id="field_createdate" type="text" class="form-control" name="createdate" datetime-picker="{{dateformat}}" ng-model="vm.organisation.createdate" is-open="vm.datePickerOpenStatus.createdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.organisation.updatedate" for="field_updatedate">Updatedate</label>
                <div class="input-group">
                    <input id="field_updatedate" type="text" class="form-control" name="updatedate" datetime-picker="{{dateformat}}" ng-model="vm.organisation.updatedate" is-open="vm.datePickerOpenStatus.updatedate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.organisation.owner" for="field_owner">Owner</label>
            <input type="text" class="form-control" name="owner" id="field_owner"
                    ng-model="vm.organisation.owner"
                    required/>
            <div ng-show="editForm.owner.$invalid">
                <p class="help-block"
                    ng-show="editForm.owner.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.organisation.establishmentdate" for="field_establishmentdate">Establishmentdate</label>
                <div class="input-group">
                    <input id="field_establishmentdate" type="text" class="form-control" name="establishmentdate" datetime-picker="{{dateformat}}" ng-model="vm.organisation.establishmentdate" is-open="vm.datePickerOpenStatus.establishmentdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('establishmentdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eofficeApp.organisation.createdby" for="field_createdby">Createdby</label>
            <input type="text" class="form-control" name="createdby" id="field_createdby"
                    ng-model="vm.organisation.createdby"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
