<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 no-padding-left">
            <button class="btn btn-warning pull-right" ui-sref="createorganisation.new" >
                <span class="glyphicon glyphicon-plus"></span>
                <span  data-translate="">
                    Create new Organisation
                </span>
            </button>
        </div>
    </div>
</div><br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Search Organisation</h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <!--Have to implement tags-input, for search by title, file no or dept to mark file or open and comment through-->
                <!--pdftron-->
                <input type="text" class="form-control" ng-model="searchText" id="searchQuery" placeholder="Search your Organisation">
                <div class="input-group-btn">
                    <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </div>
        </div>
    </div>
</div><br>
<div class="row">
    <div class="col-md-6" ng-repeat = "orglist in vm.organisations | orderBy:'-createdate' | filter:searchText" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{orglist.orgname}}
                    <a ui-sref="addemployee">
                        <button class="btn btn-primary pull-right"><i class="glyphicon glyphicon-user"></i></button>
                    </a>
                </h3>
            </div>
            <table class="table table-striped table-bordered table-list">
                <tbody>
                    <tbody>
                     <thead>
                     <tr><th>Owner Name</th><td >{{orglist.owner}}</td></tr>
                     <tr><th>Address</th><td >{{orglist.address}}</td></tr>
                     <tr><th>Establishment Date</th><td >{{orglist.establishmentdate| date:'dd-MMMM-yyyy  h:mma'}}</td></tr>
                     <tr><th>Active</th><td >{{orglist.active}}</td></tr>
                    </thead>
                    </tbody>
            </table>
        </div>
    </div>
</div>



