<div>
    <h2 data-translate="eofficeApp.fileLog.home.title">File Logs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="file-log.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="eofficeApp.fileLog.home.createLabel">
                        Create new File Log
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="eofficeApp.fileLog.fileNo">File No</span></th>
                    <th><span data-translate="eofficeApp.fileLog.title">Title</span></th>
                    <th><span data-translate="eofficeApp.fileLog.markFrom">Mark From</span></th>
                    <th><span data-translate="eofficeApp.fileLog.markTo">Mark To</span></th>
                    <th><span data-translate="eofficeApp.fileLog.markDate">Mark Date</span></th>
                    <th><span data-translate="eofficeApp.fileLog.updateDate">Update Date</span></th>
                    <th><span data-translate="eofficeApp.fileLog.comment">Comment</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fileLog in vm.fileLogs track by fileLog.id">
                    <td><a ui-sref="file-log-detail({id:fileLog.id})">{{fileLog.id}}</a></td>
                    <td>{{fileLog.fileNo}}</td>
                    <td>{{fileLog.title}}</td>
                    <td>{{fileLog.markFrom}}</td>
                    <td>{{fileLog.markTo}}</td>
                    <td>{{fileLog.markDate | date:'medium'}}</td>
                    <td>{{fileLog.updateDate | date:'medium'}}</td>
                    <td>{{fileLog.comment}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="file-log-detail({id:fileLog.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-log.edit({id:fileLog.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-log.delete({id:fileLog.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
