<div class="panel panel-danger">
    <a href="#/createfile" class="btn btn-primary" style="float: right">Put Up File</a>
    <a href="#/clearedfile" class="btn btn-success" style="float: right">Cleared File</a>
    <div class="panel-heading">
        <h3 class="panel-title">Search File through tag or title or status or fileNo Files</h3>
    </div>

    <div class="panel-body">
        <div class="input-group">
            <!--Have to implement tags-input, for search by title, file no or dept to mark file or open and comment through-->
            <!--pdftron-->

            <div class="input-group-btn">
            </div>
        </div>

        <div>
            <!-- autocomplete File through title and fileNo also through name-->
            <angucomplete-alt id="titleautocomplete"
                              placeholder="Search File through tag or title or fileNo by autocomplete"
                              pause="100"
                              selected-object="selectedTitle"
                              local-data="vm.files"
                              search-fields="fileNo,title,tag"
                              title-field="tag,title,fileNo,uploadDate,status"
                              minlength="1"
                              input-class="form-control form-control-small"/>
        </div>

        <form class="form-horizontal">
            <fieldset>
                <legend></legend>

                <table class="table table-condensed table-hover">
                    <thead ng-show="selectedTitle">
                    <tr class="danger">
                        <th>File No</th>
                        <th>Title</th>
                        <th>Tags</th>
                        <th>Mark From User</th>
                        <th>Department</th>
                        <th>Upload Date</th>
                        <th></th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-show="pendinglist" ng-repeat="pendinglist in selectedTitle">
                        <td>{{pendinglist.fileNo}}</td>
                        <td>{{pendinglist.title}}</td>
                        <td>{{pendinglist.tag}}</td>
                        <td>{{pendinglist.username}}</td>
                        <td>{{pendinglist.departmentname}}</td>
                        <td>{{pendinglist.uploadDate | date:'dd-MMMM-yyyy h:mma'}}</td>
                        <td class="action verticalalign">
                            <button type="submit" ui-sref="pdftron({fileNo:pendinglist.fileNo})"
                                    class="btn btn-primary btn-sm" style="float: right">Open/eSign/Comment
                            </button>
                            <button type="submit" ui-sref="pendingfile-markto-user({fileid:pendinglist.id})"
                                    class="btn btn-info btn-sm" style="float: right">Mark To User
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>

        </form>

    </div>
</div>


