<div>
    <h2 data-translate="eofficeApp.designation.home.title">Designations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="designation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="eofficeApp.designation.home.createLabel">
                        Create new Designation
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="eofficeApp.designation.organisationid">Organisationid</span></th>
                    <th><span data-translate="eofficeApp.designation.departmentid">Departmentid</span></th>
                    <th><span data-translate="eofficeApp.designation.designation">Designation</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="designation in vm.designations track by designation.id">
                    <td><a ui-sref="designation-detail({id:designation.id})">{{designation.id}}</a></td>
                    <td>{{designation.organisationid}}</td>
                    <td>{{designation.departmentid}}</td>
                    <td>{{designation.designation}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="designation-detail({id:designation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="designation.edit({id:designation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="designation.delete({id:designation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
