<div>
    <h2 data-translate="eofficeApp.fileMovement.home.title">File Movements</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="file-movement.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="eofficeApp.fileMovement.home.createLabel">
                        Create new File Movement
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="eofficeApp.fileMovement.fileId">File Id</span></th>
                    <th><span data-translate="eofficeApp.fileMovement.markFrom">Mark From</span></th>
                    <th><span data-translate="eofficeApp.fileMovement.markTo">Mark To</span></th>
                    <th><span data-translate="eofficeApp.fileMovement.fileName">File Name</span></th>
                    <th><span data-translate="eofficeApp.fileMovement.markDate">Mark Date</span></th>
                    <th><span data-translate="eofficeApp.fileMovement.updateDate">Update Date</span></th>
                    <th><span data-translate="eofficeApp.fileMovement.actionStatus">Action Status</span></th>
                    <th><span data-translate="eofficeApp.fileMovement.comment">Comment</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fileMovement in vm.fileMovements track by fileMovement.id">
                    <td><a ui-sref="file-movement-detail({id:fileMovement.id})">{{fileMovement.id}}</a></td>
                    <td>{{fileMovement.fileId}}</td>
                    <td>{{fileMovement.markFrom}}</td>
                    <td>{{fileMovement.markTo}}</td>
                    <td>{{fileMovement.fileName}}</td>
                    <td>{{fileMovement.markDate | date:'medium'}}</td>
                    <td>{{fileMovement.updateDate | date:'medium'}}</td>
                    <td>{{fileMovement.actionStatus}}</td>
                    <td>{{fileMovement.comment}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="file-movement-detail({id:fileMovement.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-movement.edit({id:fileMovement.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-movement.delete({id:fileMovement.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
