<html>
<head>
    <meta charset="utf-8"/>
    <title>Create File</title>
    <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css"/>
    <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
</head>

<div class="panel panel-primary">

    <a href="#/pendingfile" class="btn btn-primary" style="float: right">Pending Files<span
        class="glyphicon glyphicon-eye-open"></span></a>
    <a href="#/clearedfile" class="btn btn-primary" style="float: right">Cleared Files<span
        class="glyphicon glyphicon-ok"></span></a>

    <div class="panel-heading">
        <h3 class="panel-title">Put Up File </h3>
    </div>

    <div class="panel-body">

        <form class="form-horizontal" name="putUpFileForm" ng-submit="vm.putUpFile()">
            <fieldset>
                <div class="form-group">
                    <label for="fileNo" class="col-lg-2 control-label">File No</label>
                    <div class="col-lg-10">
                        <input class="form-control" ng-model="vm.file.fileNo" id="fileNo" type="text"
                               placeholder="File No like.. sk/2014/23234" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="title" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        <input class="form-control" ng-model="vm.file.title" id="title" type="text"
                               placeholder="Small description for title..." required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Tags</label>
                    <div class="col-lg-10">
                        <tags-input ng-model="tags" add-on-paste="true">
                            <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>
                        Tags: {{tags}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="file" class="col-lg-2 control-label">Attachment</label>
                    <div class="col-lg-10">
                        <input class="form-control input" id="file" type="file" file-Model="vm.fileDetail.file"
                               required/>
                        <p ng-show="file.maxSizeError"><font color="red">Max file size exceeded (10 MB)</font></p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Reset</button>
                        <button type="submit" ng-disabled="file.maxSizeError" class="btn btn-primary">Put Up File
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

</html>
