<div class="panel panel-danger">
    <a href="#/createfile" class="btn btn-primary" style="float: right">Put Up File</a>
    <a href="#/clearedfile" class="btn btn-success" style="float: right">Cleared File</a>
    <div class="panel-heading">
        <h3 class="panel-title">Pending Files</h3>
    </div>

    <div class="panel-body">
        <div class="input-group">
            <!--Have to implement tags-input, for search by title, file no or dept to mark file or open and comment through-->
            <!--pdftron-->

            <input type="text" class="form-control" ng-model="searchText" id="searchQuery"
                   placeholder="Search by title or tag or by department..">

            <div class="input-group-btn">
                <button class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>

                <button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-chevron-down"></i></button>

                <a href="#/user-management">
                    <button class="btn btn-link btn-sm"><i class="glyphicon glyphicon-user"></i></button>
                </a>

                <a href="#/settings">
                    <button class="btn btn-link btn-xs">
                        <i class="glyphicon glyphicon-wrench"></i></button>
                </a>

                <a href="#/settings">
                    <button class="btn btn-link btn-xs">
                        <i class="glyphicon glyphicon-cog"></i></button>
                </a>

                <a href="#/createfile">
                    <button class="btn btn-primary btn-xs">
                        <i class="glyphicon glyphicon-plus"></i></button>
                </a>
            </div>
        </div>

        <form class="form-horizontal">
            <fieldset>
                <legend></legend>

                <table class="table table-condensed table-hover">
                    <thead>
                    <tr class="danger">
                        <th>File No</th>
                        <th>Title</th>
                        <th>Tags</th>
                        <th>Mark From User</th>
                        <th>Department</th>
                        <th>Upload Date</th>
                        <th></th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="pendinglist in vm.files | filter:searchText">
                        <td>{{pendinglist.fileNo}}</td>
                        <td>{{pendinglist.title}}</td>
                        <td>{{pendinglist.tag}}</td>
                        <td>{{pendinglist.username}}</td>
                        <td>{{pendinglist.departmentname}}</td>
                        <td>{{pendinglist.uploadDate | date:'dd-MMMM-yyyy h:mma'}}</td>
                        <td class="action verticalalign">
                            <button type="submit" ui-sref="pdftron({fileNo:pendinglist.fileNo})"
                                    class="btn btn-primary btn-sm" style="float: right">Open/eSign/Comment
                            </button>
                            <button type="submit" ui-sref="pendingfile-markto-user({fileid:pendinglist.id})"
                                    class="btn btn-info btn-sm" style="float: right">Mark To User
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>

        </form>

    </div>
</div>


